@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
#root {
    margin: 0;
    padding: 0;
    background-color: rgb(143, 143, 121);
    height: 100vh;
    font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
}
